{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<section class="masthead search-masthead">

    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="table-responsive text-nowrap mt-5 mb-5">
                <h3 class="text-uppercase text-white font-weight-bold">Watchlist</h3>
                <table class="table mt-5">
                    <thead>
                    <tr>
                        <th scope="col" class="movie-name">#</th>
                        <th scope="col" class="movie-name">Title</th>
                        <th scope="col" class="movie-name">Watched</th>
                        <th scope="col" class="movie-name">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for movie in object_list %}
                    <tr>
                        <th scope="row" class="movie-name">{{ forloop.counter }}</th>
                        <td class="text-white font-weight-bold"><a href="/movie/{{ movie.id }}/">{{ movie.title }}
                    </a></td>
                        <td class="movie-name">
                            {% if movie.watched %}
                            <a href="{% url 'watchlist:set_watched' movie.id %}">
                                <svg class="bi bi-check-square-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </svg>
                            </a>
                            {% else %}
                            <a href="{% url 'watchlist:set_watched' movie.id %}">
                                <svg class="bi bi-x-square-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.854 4.854a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z"/>
                                </svg>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url 'watchlist:delete' movie.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="movie_id" value="{{ movie.id }}"/>
                                <button type="submit" class="btn btn-default btn-sm movie-name">
                                    <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="movie-name">There are no movies, please add some to the database...</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif  %}
      <!--Pagination-->

</section>



{% endblock content %}